<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>welcome</h1>
    <ol>
      <% for (var i = 0; i < tweets.length; i++) {%>
        <li><a href=<%= tweets[i].url %>><%= tweets[i].text %></a></li>
      <% } %>
    </ol>
  </body>
</html>
