<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <form action="/tweets" method="post">
      <input type="text" name="query" placeholder="Enter a search term">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
