<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="info-message">You have liked retweeted and followed the below tweets</h1>
    <ol>
      <% for (var i = 0; i < tweets.length; i++) {%>
        <li>
          <a href=<%= tweets[i].url %> target="_blank"><%= tweets[i].text %></a>
        </li>
      <% } %>
    </ol>
  </body>
</html>
