<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1 class="goodbye">goodbye</h1>
    <ol>
      <% for (var i = 0; i < tweets.length; i++) {%>
        <li>
          <a href=<%= tweets[i].url %> target="_blank"><%= tweets[i].text %></a>
        </li>
        <form action="/favourites" method="post">
          <input type="hidden" name="id" value="<%= tweets[i].id %>">
          <input type="submit" value="Like"></input>
        </form>
      <% } %>
    </ol>
  </body>
</html>
